header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#header-logo {
    height: 25px;
    margin-top: -8px;
    z-index: 2;
    transition: transform 0.3s ease;
}

#header-logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: var(--main-bg);
    color: var(--main-white);
}

footer p {
    margin: 0 10px;
}