@import url(home.css);
@import url(nav.css);
@import url(sidenav.css);
@import url(header-footer.css);
@import url(about.css);
@import url(services.css);
@import url(contact.css);
@import url(theme-nav.css);
@import url(background-circles.css);

@font-face {
    font-family: 'DM Sans';
    src: url(../font/DMSans-VariableFont_opsz\,wght.ttf) format('truetype');
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInAndOut {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}

:root {
    --main-bg: #131313;
    --main-white: #fff;
    --main-blue: #7584CB;
    --main-pink: #F29393;
    --main-gradient: linear-gradient(90deg, #f29393, #044afe);
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    padding: 0 10%;
    margin: 20px 0;
    background-color: var(--main-bg);
    color: var(--main-white); 
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    color: #9E88B8;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 30px;
}

.section-p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
}

.separator {
    border-bottom: var(--main-white) solid 1px;
    width: 80%;
    height: 0.5px;
}

.separator-short {
    border-bottom: #9E88B8 solid 1px;
    width: 15%;
    height: 0.5px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.text-gradient {
    background: var(--main-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-gradient {
    background: var(--main-gradient);
}

