nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 30px;
    background-color: #0D0D0D;
    color: var(--main-white);
    padding: 5px 2.5vw;
    position: fixed;
    top: 2.5%;
    z-index: 1;
    opacity: 0.6;
    transition: transform 0.3s ease;
}

nav:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transform: scale(1.1);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
}

.nav-options {
    display: inline-block;
    margin: 0 15px;
}

.nav-text {
    text-decoration: none;
    color: var(--main-white);
    font-weight: bold;
    transition: font-size 0.3s ease;
}

.nav-text:hover {
    font-size: larger;
    transition: font-size 0.3s ease;
    background: var(--main-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#nav-list {
    list-style: none;
    padding: 0;
    margin-left: 25vw;
}