* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "DM Sans-Bold", Helvetica;
}

li, a, button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    margin: 50px;
}

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    transition: alt 0.3s ease 0s;
    color: #F29393;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.container h1 {
    color: #ffffff;
    font-size: 120px;
    text-align: center;
}

.container p {
    color: white;
    text-align: center;
    font-style: bold;
    font-weight: 700;
    color: #504e5a;
    font-size: 20px;
    text-align: center;
    width: 624px;
    margin-top: 20px;
}

.button-container {
    display: flex;
    margin-top: 20px;
}

.btn-1,
.btn-2 {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn-1 {
    background: rgb(242, 147, 147);
    border-radius: 8px;
    margin-right: 10px;
}

.btn-2 {
    border: 2px solid white;
    border-radius: 8px;
    margin-left: 10px;
}

.section {
    color: white;
    padding: 40px;
    text-align: center;
}

.section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.section h3,
.section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.section .mission-vision-row {
    display: flex;
    justify-content: center; /* Center the boxes horizontally */
    gap: 60px; /* Add space between the boxes */
    flex-wrap: wrap;
    margin-top: 30px;
}

.section .mission-box,
.section .vision-box {
    flex: 0 0 calc(48% - 10px); /* Adjusted to leave space between boxes */
    max-width: 500px;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 0;
}


.head{
    text-transform: uppercase;
    color:#9E88B8;
}

.divider {
    border: 1px solid #D5BEFF; 
    margin: 20px auto; 
    width: 15%;
}


