@font-face {
    font-family: 'DM Sans';
    src: url(font/DMSans-VariableFont_opsz\,wght.ttf) format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #131313;
    color: #fff; 
    font-family: 'DM Sans', sans-serif;
}

h3 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    color: #9E88B8;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 30px;
}

.section-p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: #0D0D0D;
    color: #fff;
    padding: 20px 20%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.6;
    transition: transform 0.3s ease;
}

nav:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    opacity: 1;
}

.nav-options {
    display: inline-block;
    margin-right: 20px;
}

.nav-text {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav-text:hover {
    color: #7584CB;
}

#header-logo {
    height: 25px;
    z-index: 2;
    margin-right: auto;
    margin-left: 20px;
}

#nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15% 10% 30% 10%;
}

#home h1 {
    font-size: 100px;
    text-align: center;
    margin-bottom: 10px;
}

#home h2 {
    color: #504E5A; 
    font-size: 25px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 0;
}

#home div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#lets-start-button {
    background: linear-gradient(90deg, #f29393, #044afe);
    color: #fff;
    width: 200px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#inquire-button {
    background-color: #131313;
    color: #fff;
    width: 200px;
    border: #fff solid 1px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#home button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    background-color: #7584CB;
    border: none;
}

#about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10% 30% 10%;
}

#about-mission-vision {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.about-mission-vision-format {
    border: transparent solid 1px;
    border-image: linear-gradient(90deg, #f29393, #044afe);
    border-image-slice: 1;
    border-radius: 10px;
    margin: auto 30px;
    padding: 50px 30px;
}

.about-mission-vision-format img {
    margin-right: 10px;
}

.about-mission-vision-format h3 {
    font-size: 30px;
    text-align: left;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
}

.about-mission-vision-format p {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

#services {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10% 30% 10%;
}

#services ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

#services li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 300px;
    border: transparent solid 1px;
    border-image: linear-gradient(90deg, #f29393, #044afe);
    border-image-slice: 1;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin:30px;
    padding: 30px;
    transition: transform 0.3s ease;
}

#services li:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    background-color: #0D0D0D;
}

#services img {
    height: 100px;
    max-width: 100px;
    align-self: center;
    margin-bottom: 10px;
}

#contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10% 30% 10%;
}

#contact p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

#contact ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

#contact li {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: left;
    font-size: 20px;
    font-weight: 500;
    margin: 30px;
}

#contact img {
    max-height: 50px;
    width: 50px;
    margin-top: -10px;
    margin-right: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #131313;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
}

footer p {
    text-align: center;
    margin: 0 10px;
}

.separator {
    border-bottom: #fff solid 1px;
    width: 80%;
    height: 0.5px;
}

.separator-short {
    border-bottom: #9E88B8 solid 1px;
    width: 15%;
    height: 0.5px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.text-gradient {
    background: linear-gradient(90deg, #f29393, #044afe);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-gradient {
    background: linear-gradient(90deg, #f29393, #044afe);
}